@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #252525;
    --text-color: #ffffff;
}

body {
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.font-roboto {
    font-family: var(--font-roboto), sans-serif;
}

.font-indie-flower {
    font-family: var(--font-indie-flower), cursive;
}

.theme-transition {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
